//This file contains all the CSS styling of the edit profile page
@import "./variables/variables.scss";


.edit_profile_container1{
  border-color: $blue_Color;
  border-width: 9px;
  border-style: solid;
  background-color: $grey_Color;
  margin: 30px;
  padding: 70px;
  margin-top: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px 30px;
  justify-content: flex-start;
}

.edit_profile_profile_pic{
  margin-left: 20;
}

.edit_profile_container2{
  padding: 20px;
  font-size: large;
  font-weight: bold;
  margin: 40;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px 30px;
  justify-content:space-around;
}

.edit_profile_greeting{
  order: 1;
  flex-grow: 3;
}

.edit_profile_education{
  order: 2;
  flex-grow: 3;
}

.edit_profile_past_job{
  order: 3;
  flex-grow: 3;
}

.edit_profile_current_job{
  order: 4;
  flex-grow: 3;
}

.edit_profile_languages{
  order: 5;
  flex-grow: 3;
}

.edit_profile_bio{
  order: 6;
  flex-grow: 3;
}
#edit_bio_text{
  font-weight: normal;
  padding: 30px;
  border-color: $blue_Color;
  border-width: 6px;
  border-style: solid;
  background-color: $light_blue_Color; 
}

.edit_profile_resume{
  order: 7;
  flex-grow: 3;
}

.delete_button{
  order: 8;
  flex-grow: 3;
}

.edit_profile_submit{
  order: 8;
  flex-grow: 3;
}

#edit_profile_edit_profile_button{
  font-weight: bold;
  padding: 8px;
  border-radius: 30px;
  background-color: $light_blue_Color;
}

#edit_profile_edit_button{
  margin-left: 30px;
  border: none;
}

#edit_profile_update_button{
  border-radius: 40px;
  background-color: $light_blue_Color;
  margin-left: 15px;
}

#edit_profile_submit_button{
  background-color: green;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 19px;
}
#edit_profile_submit_button:hover{
  background-color: greenyellow;
  color: black;
  padding: 10px;
  font-weight: bold;
  font-size: 19px;
}

#delete_button{
  background: blue;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 19px;
}

#delete_button:hover{
  background-color: rgba(0, 0, 255, 0.508);
  color: black;
  padding: 10px;
  font-weight: bold;
  font-size: 19px;
}

.editStatus_err{
  color: red;
  font-size: 19px;
}
.editStatus_success{
  color: green;
  font-size: 23px;
}