//This file contains all the CSS styling of the home page
@import "./variables/variables.scss";


.header {
    color: $blue_Color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; 
}

.header-title {
    font-size: 85px; 
    text-align: center;
}

.content {
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

.rounded-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
}
  
.normal-button {
    background-color: white;
    color: blue;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px 20px;
}
  
#home_profile_pic{
    border-radius: 50%;
}

.home_main_container{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content:space-between;
    gap:0px;
}

.home_main_profile{
    background-color: $grey_Color;
    text-align: center;
    padding: 50px;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px 0% 0% 25px;
    border-color: $grey_Color;
    order: 1;
    flex-grow: 3;
}
  
.home_posts{
background-color: $grey_Color;
text-align: left;
padding-top: 60px;
padding-left: 0px;
border-style: solid;
border-width: 3px;
border-color: $grey_Color;
order: 2;
flex-grow: 3;
}

.home_news{
background-color: $grey_Color;
text-align: center;
padding: 30px;
border-style: solid;
border-width: 3px;
border-radius: 0% 25px 25px 0%;
border-color: $grey_Color;
order: 3;
flex-grow: 3;
}