//This file contains all the CSS styling of the login page
@import "./variables/variables.scss";

.log_out{
  border-color: $blue_Color;
  border-width: 9px;
  border-style: solid;
  background-color: $grey_Color;
  text-align: center;
  margin: 100px;
  padding: 50px;
}

.log_out.title{
  color: $blue_Color;
  font-size: 25px;
}