//This file contains all the CSS styling of the navbar
@import "./variables/variables.scss";

#navbar_title{
    color: $blue_Color;
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}
