//This file contains all the CSS styling of the profile page
@import "./variables/variables.scss";


.profile_container1{
  border-color: $blue_Color;
  border-width: 9px;
  border-style: solid;
  background-color: $grey_Color;
  margin: 30px;
  padding: 70px;
  margin-top: 400;
  padding: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px 30px;
  justify-content: flex-start;
  gap:140;
}

.profile_profile_pic{
  margin-left: 20;
}

.profile_container2{
  padding: 20px;
  font-size: large;
  font-weight: bold;
  margin: 40;
  padding: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px 30px;
  justify-content:space-around;
}

.profile_greeting{
  order: 1;
  flex-grow: 3;
}

.profile_education{
  order: 2;
  flex-grow: 3;
}

.profile_past_job{
  order: 3;
  flex-grow: 3;
}

.profile_current_job{
  order: 4;
  flex-grow: 3;
}

.profile_languages{
  order: 5;
  flex-grow: 3;
}

.profile_bio{
  order: 6;
  flex-grow: 3;
}
#bio_text{
  font-weight: normal;
  padding: 30px;
  border-color: $blue_Color;
  border-width: 6px;
  border-style: solid;
  background-color: $light_blue_Color; 
}

.profile_resume{
  order: 7;
  flex-grow: 3;
}


.profile_edit_profile{
  order: 8;
  flex-grow: 3;
}

.profile_delete_profile{
  order: 8;
  flex-grow: 3;
}

#profile_edit_profile_button{
  font-weight: bold;
  padding: 8px;
  border-radius: 30px;
  background-color: $light_blue_Color;
}

#profile_edit_profile_button:hover{
  color: beige;
  background-color: grey;
}

#profile_delete_profile_button{
  font-weight: bold;
  padding: 8px;
  border-radius: 30px;
  background-color: $light_blue_Color;
}