.button_6{
    font-size: 20px;
    width: 55%;
    color: white;
    background: #2563eb;
    border-radius: 10px;
}
.textbox {
    color: #999; /* Change the text color */

    text-align: center; /* Center the text */

    padding:8px;
    border-radius: 5px;


}